/*banner*/
.banner{
	width: 100%;
	height: 10rem;
	background: url(../img/a-banner.png) no-repeat;
	background-size: 100% 100%;
	color: #21c0b1;
}
.banner .text1{
	font-size: 1rem;
	padding-left: 5.95rem;
	padding-top: 0.8rem;
}
.banner .text2{
	font-size: 1rem;
	padding-left: 2.475rem;
	padding-top: 0.15rem;
}
.banner .text3{
	font-size: 0.325rem;
	padding-left: 2.45rem;
	padding-top: 0.15rem;
}
.banner .text4{
	color: #fff;
	font-size: 0.475rem;
	padding-left: 5.5rem;
	padding-top: 0.35rem;
}
/*第一部分 */
.part1{
	width: 100%;
	background: #324353;
	padding-bottom: 1.25rem;
}
.part1 .text1{
	font-size: 0.775rem;
	color: #fff;
	padding-left:2.45rem;
	padding-top:0.75rem;
}
.part1 .text1 span{
	color: #21c0b1;
}
.part1 i{
	margin-top: 0.2rem;
	width: 14rem;
	height: 0.425rem;
	background: url(../img/line.png) no-repeat;
	background-size: 100% 100%;
	display: block;
	margin-left: 1rem;
	margin-bottom: 0.5rem;
}
.part1 .text2{
	font-size: 0.425rem;
	color: #fff;
	width: 13.75rem;
	margin:0.5rem auto 0;
	padding-bottom: 0.725rem;
	text-align: center;
	line-height: 0.65rem;
}
.part1 .list{
	width: 14.5rem;
	margin: 0 auto;
}
.part1 .list li{
	width: 1.625rem;
	height: 1.625rem;
	margin-right: 0.2rem;
}
.part1 .list li img{
	width: 1.625rem;
	height: 1.625rem;
}
.part1 .list li.eight{
	margin-right: -0.2rem;
}
.part1 .list li.martop{
	margin-top: 0.25rem;
}
/*第二部分 */
.part2{
	padding-bottom: 0rem;
	position: relative;
}
.part2 em{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 15.18rem;
	height: 1.825rem;
	background: #1f2932;
}
.part2 .text1{
	padding-left:6.35rem;
	padding-top:0rem;		
}
.part2 .list2{
	width: 100%;
	background: #21c0b1;
	padding-top: 0.85rem;
	padding-bottom: 0.8rem;
}
.part2 .list2 ul{
	width: 14.55rem;
	margin: 0 auto;
}
.part2 .list2 ul li{
	width: 3.45rem;
	height: 4.575rem;
	margin-right: 0.175rem;
	border: 0.025rem solid #fff;
	padding-top: .425rem;
	text-align: center;
	background: #21c0b1;
	position: relative;
}
.part2 .list2 ul li.last{
	margin-right: -0.175rem;
}
.part2 .list2 ul li .l-text2{
	width: 100%;
	font-size: 0.4rem;
	color: #ffc600;
	background: #324353;
}
.part2 .list2 ul li .l-text3{
	width: 2.8rem;
	font-size: 0.325rem;
	color: #fff;
	margin: 0.15rem auto 0;
	text-align: left;
	line-height: 0.55rem;
}
/*第三部分 */
.part3 .list3{
	width: 14.525rem;
	margin: 0 auto;	
}
.part3 .list3 li{
	text-align: center;
	border: 0.025rem solid #21c0b1;
	height: 3.35rem;
	width: 4.5rem;
	padding-top: 0.5rem;
	margin-right: 0.45rem;
}
.part3 .list3 li.last{
	margin-right: -0.45rem;
}
.part3 .list3 li .text3{
	color: #FFC600;
	font-size: 0.525rem;
	margin-top:.75rem ;
}
/*第四部分 */
.part4{
	padding-bottom: 0;
}
.part4 .text1{
	padding-left:4.8rem;	
}
.part4 .text2{
	padding-bottom: 0.4rem;
	padding-top:0.4rem ;
}
.list4{
	width: 100%;
	background: #259f98;
	padding-bottom: 0.725rem;	
	position: relative;
}
.list4 .pos-1{
	width: 5.32rem;
	height: 5.09rem;
	background: #1f2932;
	position: absolute;
	left: 0;
	top: 0;
}
.list4 .pos-2{
	width: 5.22rem;
	height: 4.2rem;
	background: #1f2932;
	position: absolute;
	right: 0;
	bottom: 0;
}
.list4 ul{
	width: 14.525rem;
	margin: 0 auto;
	position: relative;
}
.list4 ul li{
	margin-right: 0.3rem;
	
}
.list4 ul li.last{
	margin-right: -0.3rem;
}
.list4 ul li.martop{
	margin-top: 0.3rem;
}
/*第五部分 */
.part5{
	position: relative;
}
.part5 .text1{
	padding-left: 2.2rem;
	color: #21c0b1;
}
.part5 .text1 span{
	color: #fff;
}
.part5 ul{
	width: 14.575rem;
	margin: 0 auto;
}
.part5 ul li{
	margin-right: 0.4rem;
}
.part5 ul li.last{
	margin-right: -0.4rem;
}
.part5 ul li.martop{
	margin-top: 0.325rem;
}
.part5 .pos{
	width: 10.19rem;
	height: 1.25rem;
	position: absolute;
	right: 0;
	bottom: 0;
	background: #21c0b1;
	z-index: 1;
}
