/*banner*/
.banner{
	width: 100%;
	height: 10rem;
	background: url(../img/e-banner.png) no-repeat;
	background-size: 100% 100%;
	color: #fff;
}
.banner .text1{
	font-size: 1.1rem;
	padding: 2.575rem 0 0 2.825rem;
	font-weight: bold;
}
.banner .text2{
	font-size: 0.75rem;
	padding: 0.45rem 0 0 4.2rem;
	font-weight: bold;
}
.banner .text3{
	width: 9.075rem;
	height: 0.95rem;
	line-height: 0.95rem;
	font-size: 0.475rem;
	margin: 0.675rem auto 0;
	text-align: center;
	color: #ffc600;
	border: 0.025rem solid #226665;
	background: #192228;
}
.banner .text4{
	font-size: 0.45rem;
	padding: 0.525rem 0 0 2.4rem;
	color: #21c0b1;
}
/*第一部分*/
.part1{
	width: 100%;
	background: #324353;
	font-size: 0.725rem;	
}
.part1 .text1{
	color: #21c0b1;
	padding: 0.75rem 0 0 6.125rem;
	position: relative;
	font-weight: bold;
}
.part1 .text1 .pos1{
	width: 5.825rem;
	height: 0.4rem;
	background: url(../img/e-shape1.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 0;
	top: 1.025rem;
}
.part1 .text1 .pos2{
	width: 5.825rem;
	height: 0.4rem;
	background: url(../img/e-shape2.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	right: 0;
	top: 2.4rem;
}
.part1 .text2{
	color: #ffc600;
	padding: 0.25rem 0 0 5.425rem;
	font-weight: bold;
}
.part1 ul{
	width: 14.45rem;
	margin: 0.85rem auto 0;
}
.part1 .e-list1 li{
	width: 3.35rem;
	height: 3.45rem;
	background: url(../img/e-shape3.png) no-repeat;
	background-size: 100% 100%;
	color: #fff;
	padding-left: 3.34rem;
}
.part1 .e-list1 li .text3{
	font-size: 0.525rem;
	margin-top: 1.525rem;		
}
.part1 .e-list1 li .text4{
	font-size: 0.65rem;
	
}
.part1 .e-list1 li.li2{
	background: url(../img/e-shape4.png) no-repeat;
	background-size: 100% 100%;
	margin-left: 1.05rem;
	
}
.part1 .e-list1 .li2 .text3{
	margin-top: 1.875rem;		
}
.part1 .e-list2 li{
	width: 4.7rem;
	height: 2.325rem;
	background: url(../img/e-shape5.png) no-repeat;
	background-size: 100% 100%;
	color: #fff;
	line-height: 2.325rem;
	text-align: center;
	margin-right: 0.175rem;
}
.part1 .e-list2 li.sec{
	background: url(../img/e-shape6.png) no-repeat;
	background-size: 100% 100%;
	color: #324353;
}
.part1 .e-list2 li.last{
	margin-right: -0.175rem;
}
/*第二部分*/
.part2{
	padding-bottom: 0.25rem;
}
.part2 .text1 .pos2{
	top: 1.2rem;
}
.part2 ul li{
	border-bottom: 0.025rem dashed #536f8a;
	padding-bottom: 0.75rem;
	padding-top: 0.775rem;
}
.part2 ul li.first{
	padding-top: 0rem;
}
.part2 ul li .left img{
	width: 3.725rem;
	height: 3.725rem;
}
.part2 ul li .right{
	width: 8.925rem;
	color: #ffc600;
	margin-left: 0.925rem;
}
.part2 ul li .right h4{
	font-size: 0.55rem;
	font-weight: bold;	
	padding-top: 0.35rem;
}
.part2 ul li .right .h4-p1{
	font-size: 0.45rem;
	padding: 0.1rem 0;
}
.part2 ul li .right .h4-p2{
	font-size: 0.425rem;
	color: #21c0b1;
	line-height: 0.55rem;
}