/*banner*/
.banner{
	width: 100%;
	height: 10rem;
	background: url(../img/cg-banner.png) no-repeat;
	background-size: 100% 100%;
}
.banner .text1{
	font-size: 0.7rem;
	color: #ffc600;
	font-style: italic;
	padding: 2.4rem 0 0 4.725rem;
	position: relative;
	font-weight: bold;
}
.banner .text1 .pos-1{
	position: absolute;
	right: 3.225rem;
	top: 2.6rem;
	width: 4.475rem;
	height: 0.85rem;
	background: url(../img/cg-shape.png) no-repeat;
	background-size: 100% 100%;	
}
.banner .text2{
	font-size: 1.125rem;
	color: #fff;
	font-style: italic;
	padding: 1.25rem 0 0 2.5rem;
	position: relative;
	font-weight: bold;
}
.banner .text3{
	width: 6.425rem;
	height: 0.625rem;
	line-height: 0.625rem;
	text-align: center;
	font-size: 0.35rem;
	color: #fff;	
	margin: 1.2rem auto 0;
	font-weight: bold;
	border: 0.025rem solid #3e474e;
	background: #1b1d2a;
}
.banner .text3 span{
	color: #FFC600;
}
.banner .text2 .pos-2{
	position: absolute;
	left: 0.45rem;
	top: 1.8rem;
	width: 1.475rem;
	height: 0.85rem;
	background: url(../img/cg-shape2.png) no-repeat;
	background-size: 100% 100%;
}
/*第一部分*/
.part1{
	width: 100%;
	margin:0 auto;
	background: #324353;
	padding: 0.25rem 0 1rem 0;
	position: relative;
}

.part1 span{
	width: 14.25rem;
	height: 2.55rem;
	background: url(../img/01.png) no-repeat;
	display: block;
	background-size:100% 100%;
	position: absolute;
	right: 0;
}
.part1 .text1{
	position: absolute;
	left: 1.75rem;
	top: 1.375rem;
	color: #23afa4;
	font-weight: bold;
	font-size: 0.575rem;
}
.part1 em{
	color: #ffc600;
}
.part1 .text2{
	position: absolute;
	left: 1.75rem;
	top: 2.5rem;
	color: #23afa4;
	font-size: 0.35rem;
}
.part1 .p1-list{
	width: 14.375rem;
	margin: 0 auto;
	padding-top: 3.575rem;
	color: #21c0b1;
	font-size: 0.475rem;
}
.part1 .p1-list li{
	width: 3.05rem;
	margin-right: 0.725rem;
}
.part1 .p1-list li.last{
	margin-right: -0.725rem;
}
.part1 .p1-list li .ul-top{
	width: 3rem;
	height: 2.15rem;
	background: url(../img/cg-shape3.png) center center no-repeat;
	background-size:100% 100%;
	text-align: center;	
	padding-top: 0.975rem;
	color: #ffc600;
}
.part1 .p1-list li .ul-top1{
	background: url(../img/cg-shape3-1.png) center center no-repeat;
	background-size:100% 100%;
	color: #21c0b1;
}
.part1 .p1-list li .ul-bottom{
	width: 100%;
	height:0.8rem;
	background: url(../img/cg-shape4.png) center center no-repeat;
	background-size:100% 100%;
	text-align: center;	
	margin-top: 0.375rem;
	line-height: 0.8rem;
}
.part1 .p1-list li .ul-bottom1{
	background: url(../img/cg-shape4-1.png) center center no-repeat;
	background-size:100% 100%;
	color: #ffc600;
}
.part1 .p1-list li .ul-bottom .text3{
	font-size: 0.325rem;
}
/*第二部分*/
.part2{
	width: 100%;
	margin:0 auto;
	background: url(../img/cg-bj1.png) no-repeat;
	background-size: 100% 100%;
	padding-top: 0.25rem;
	position: relative;
	height: 10.375rem;	
}
.part2 span{
	width: 13.8rem;
	height: 2.55rem;	
	background: url(../img/02.png) no-repeat;
	display: block;
	background-size:100% 100%;
}
.part2 .text1{
	position: absolute;
	left: 4.3rem;
	top: 1.375rem;
	color: #fff;
	font-weight: bold;
	font-size: 0.6rem;
}
.part2 .text1 i{
	color: #ffc600;
}
.part2 ul{
	color: #21c0b1;	
}
.part2 ul li{
	margin-left: 9.375rem;
	padding-top: 0.425rem;
}
.part2 ul li.li-2{
	margin-left: 5.875rem;
	padding-top: 0.25rem;
}
.part2 ul li.li-3{
	margin-left: 3.625rem;
	padding-top: 0.25rem;
}
.part2 ul li.li-4{
	margin-left: 0.875rem;
	padding-top: 0.25rem;
}
.part2 ul .text2{
	font-size: 0.45rem;
	position: relative;
}
.part2 ul .text2 em{
	font-size: 0.3rem;
	position: absolute;
	left: 0;
	top: 0;
	background: url(../img/cg-shape5.png) no-repeat;
	background-size: 100% 100%;	
	width: 1.125rem;
	height: 1.4rem;
	line-height: 1.4rem;
	padding-left: 4.65rem;
}
.part2 ul li.li-2 .pos{
	background: url(../img/cg-shape6.png) no-repeat;
	background-size: 100% 100%;
	width: 1.025rem;
	padding-left: 5.25rem;
}
.part2 ul li.li-3 .pos1{
	width: 1.025rem;
	padding-left: 4.775rem;
}
.part2 ul li.li-4 .pos2{
	width: 1.25rem;
	padding-left: 4.6rem;
}
.part2 ul .text3{
	font-size: 0.325rem;	
	padding-top: 0.325rem;
}
.part2 ul .padlef{
	padding-left: 0.575rem;
}
/*第三部分*/
.part3{
	padding-bottom: 0.5rem;
}
.part3 span{
	background: url(../img/03.png) no-repeat;
	background-size:100% 100%;
}
.part3 .p3-list{
	width: 13.25rem;
	margin: 0 auto;
	padding-top: 3.325rem;
}	
.part3 .p3-list li{
	width: 3.75rem;
	text-align: center;
	background: #21c0b1;
	padding-top: 0.05rem;
	margin-right: 1rem;
	margin-bottom: 0.5rem;
}
.part3 .p3-list li.last{
	margin-right: -1rem;
}
.part3 .p3-list li img{
	width: 3.65rem; 
	height:3.575rem;
}
.part3 .p3-list li .text3{
	font-size: 0.4rem;
	color: #fff;
	padding: 0.25rem 0;
}
/*第四部分*/
.part4{
	background: url(../img/cg-bj2.png) no-repeat #324353;
	background-size: 100% 59.3%;
	height: 16.5rem;
}
.part4 .text1{
	color: #21c0b1;
}
.part4 .text2{
	color: #21c0b1;
	position: absolute;
	left: 4.3rem;
	top: 2.4rem;
	font-size: 0.35rem;
}
/*第五部分*/
.show5{
	padding-bottom: 0;
	padding-top: 0.25rem;
	background: url(../img/cg-bj3.png) no-repeat #324353;
	background-size: 100% 100%;
	height: 11rem;
	
}
.show5 span{	
	background: url(../img/05.png) no-repeat;
	background-size:100% 100%;
}
.show5 img{
	width: 14.95rem;
	height: 6.875rem;
	margin: 3.325rem 0 0 0.525rem; 
}
/*第六部分*/
.part6{
	background: #324353;
	height: 14.225rem;
}
.part6 span{	
	background: url(../img/cg-06.png) no-repeat;
	background-size:100% 100%;
	width: 14.275rem;
	height: 2.55rem;
}
.part6 .text1{
	font-size: 0.5rem;
}
.part6 .text2{
	position: absolute;
	left: 4.3rem;
	top: 2.4rem;
	color: #23afa4;
	font-size: 0.35rem;
}
.part6 img{
	width: 14.625rem;
	height: 9.825rem;
	margin: 0.75rem 0 0 0.75rem;
}
/*第七部分*/
.part7{
	background: url(../img/cg-bj6.png) no-repeat;
	background-size: 100% 100%;
	padding-top: 0;
	width: 100%;
	height: 11.9rem;
	overflow:hidden;
}
.part7 span{	
	background: url(../img/07.png) no-repeat;
	background-size:100% 100%;
	width: 14.275rem;
	height: 2.55rem;	
}
.part7 .text1{
	top: 1.125rem;
	left: 1.8rem;
}

.part7 .botton{
	width: 3.75rem;
	height: 0.875rem;
	border: 0.05rem solid #ffc600;
	margin:1rem auto 0;
}
.part7 .botton a{
	color: #ffc600;
	font-size: 0.5rem;
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 0.875rem;
}
.part7 .friend{
	width: 16rem;
	height: 5.55rem;
	margin-top: 3.45rem;
	position: relative;
}
.part7 .friend .friend-son{
	height: 5.55rem;
	position: absolute;
}
.part7 .friend .friend-son li img{
	width: 31.95rem;
	height:5.55rem;
}
/*第八部分*/
.part8{
	background: #324353;
	color: #fff;
	font-size: 0.85rem;
	padding-top: 1.45rem;	
	padding-bottom: 1rem;
	font-weight: bold;
}
.part8 .text1{
	margin-left: 4rem;
}
.part8 .text1 i{
	font-size: 1.325rem;
	
}
.part8 .text2{
	margin-left: 4.45rem;
	margin-top: 0.575rem;
}
.part8 .text2 em{
	color: #ffc600;	
}
.part8 .botton{
	margin-top: 1.2rem;
	border: 0.05rem solid #fff;
}
.part8 .botton a{
	color: #fff;
}

